.vux-header{
  background-color:#393A3E !important;
  position: fixed !important;
  width: 7.5rem;
  top: 0;
  z-index: 100;
}
.weui-cells,.weui-cell{
  background-color: rgba(255,255,255,0) !important;
  margin-top: 0!important;
}
.weui-cells:before,.weui-cells:after{
  display: none;
}
